#font-set{
	font-size:1.2em;}
.content-1 img{
	height:2.5em ;
	top:25% !important;
	width:2.5em ;
	}
.content-1 h2 {
    height: 3.625em;
    line-height: 3.625em;
    margin: 0 !important;
}	
/*#header_color{
	background-color:#6DC324 !important;
	color:#FFFFFF !important;

	text-shadow:none !important;}	*/
	
	#header_color{
	background-color:#003D79 !important;
	color:#FFFFFF !important;
	border-color:#003D79 !important;
	text-shadow:none !important;}
#header_color img{
	height:8em;
	width:9em;}	

.font_set{
	font-size:0.75em;
	font-weight:400;}
.width_set{
	padding:0 !important;
	right:1em !important;
	}
.but_set{
	display:block;
	margin:1em auto;
	padding:1em 0;
	width:100%;
	}
.record{
	text-align:center;
	background:#FFFFFF;
	height:5em;
	line-height:5em;
	color:#333333;}	
#ul_c{
	display:block;
	margin:10px 0;}	
.center_set{
	display:block;
	margin:10px 0;
	text-align:left;
	}	
.ui-content{
	padding:0 !important;}	
.title_set{
	display:block;
	margin:1em 0 !important;
	font-size:1em;}	
	
.ui-listview{
	margin:0 !important;}	
.np-load-more {
	display:block;
	margin:2em auto ;
    background-color: #DDD;
    line-height: 28px;
    text-align: center;
}	
.np-load-more span {
    cursor: pointer;
}
.ui-checkbox {
    width:50%;
}
.ui-input-search{
	width:100% !important;}
	
body,html,ul,li{
	margin:0;
	padding:0;}
	
.ul-set li{
	display: block;
    overflow: visible;
    position: relative;
    list-style: none outside none;
	border-bottom:1px solid #ddd;
	/*padding: 0.8em 0;
	height:5em;*/
}
.img-s{
	display:block;
	float:left;
	height:6em;
	padding-right:1em;
	}
.ul-set li a{
	/*padding-left:5em;*/
	padding-bottom:1em;
	display:block;
	/*float:left;
	width:10%;*/
	text-overflow: ellipsis;
	text-decoration:none;}
.ul-set li h2{
	font-size:1em !important;
	margin-top:1.8em !important;
	}

.in-set{
	width:100% !important;
	}			
.b-set{
	text-shadow:none !important;
	float:right !important;
	color:#ffffff !important;
	border-radius: 0.3125em;
	margin: 0.5em 0;
	padding: 0.7em 1em;
    position: relative;
    text-align: center;
	background-color:#6DC324 !important;
    border-color:#6DC324 !important;
	width:3em !important;
	top:14%;}
.b-set:hover{
	background-color:#89CE4F !important;
}		
.ui-select{
	width:100% !important;
	float:right !important;}	
.ui-input-btn{
	width:100% !important;
}	
.label-s{
    padding-bottom: 0.75em;
	width:100% !important;}
#tsgsel{
	width:100%;
	padding:1em 0 !important;}	

.ui-page {  
        backface-visibility: hidden;  
        -webkit-backface-visibility: hidden; /* Chrome and Safari */  
        -moz-backface-visibility: hidden; /* Firefox */  
    }  
